body{
  margin: 0;
  font-family: hiragino sans;
}
footer {
  clear: both;
  /*border: 1px solid blue;*/
}
header {
  float: left;
  width: 100%;
  /*border: 1px solid black;*/
}

/* ----------NAV BAR START-----------------*/
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(12px);
}
header section.navContainer{
  /* position: fixed; */
  float: left;
  background-color:transparent;
  background-image: linear-gradient(white);
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
}
/* header section.navContainer a h1{
  width: 1%;
  float: left;
  margin-left: 5%;
  margin-top: 27px;
  font-family: sans-serif;
  font-weight:bolder;
  color: black;
} */
header section.navContainer a img{
  height: 100px;
  margin-left: 2%;
  margin-top: .5%;
}
header section.navContainer nav {
  width: 70%;
  /*text-align: center;*/
  padding: 2%;
  text-indent: 25px;
  text-align: right;
  float: right;
  margin-top: 5px;
  margin-right: 1%;
}
header section.navContainer nav a{
  text-decoration: none;
}
header section.navContainer nav a li {
  display: inline-block;
  font-size: 20px;
  color: black;
}
header section.navContainer nav a li:hover{
  color: pink;
}
/* ----------NAV BAR END-----------------*/

iframe{
  margin-left: 0%;
  margin-top: 20%;
}
