body{
  margin: 0;
  font-family: sans-serif;
}
footer {
  clear: both;
  /*border: 1px solid blue;*/
}
header, main, .whatIsSection, .timeLine, .ourVisionHer {
  float: left;
  width: 100%;
  /*border: 1px solid black;*/
}

/* ----------NAV BAR START-----------------*/
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(12px);
}
header section.navContainer{
  /* position: fixed; */
  float: left;
  background-color:transparent;
  background-image: linear-gradient(white);
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
}
/* header section.navContainer a h1{
  width: 1%;
  float: left;
  margin-left: 5%;
  margin-top: 27px;
  font-family: sans-serif;
  font-weight:bolder;
  color: black;
} */
header section.navContainer a img{
  height: 100px;
  margin-left: 2%;
  margin-top: .5%;
}
header section.navContainer nav {
  width: 70%;
  /*text-align: center;*/
  padding: 2%;
  text-indent: 25px;
  text-align: right;
  float: right;
  margin-top: 5px;
  margin-right: 1%;
}
header section.navContainer nav a{
  text-decoration: none;
}
header section.navContainer nav a li {
  display: inline-block;
  font-size: 20px;
  color: black;
}
header section.navContainer nav a li:hover{
  color: pink;
}
/* ----------NAV BAR END-----------------*/
main{
  overflow: hidden;
}
main h2{
  font-size: 300px;
  display: block;
  margin-left: 1%;
}
main img{
  width: 100%;
  display: block;
  margin-top: 15%;
  padding-bottom: 20%;
  margin-left: 5%;
}
section.selfies{
  width: 100%;
}
section.selfies img{
  max-width: 20%;
}
section.whatIsSection .content{
  margin-left: 5%;
  width: 50%;
  float: left;
  line-height: 200%;
  margin-top: 10%;
}
section.whatIsSection .ourJourney{
  width: 100%;
  float: left;
}
section.whatIsSection .ourJourney img{
  height: 200px;
  margin: 0 auto;
  display: block;
}
section.whatIsSection .content h1{
  bottom: 0;
  margin: 0;
  width: 12%;
  float: left;
  margin-right: 4%;
  font-size: 1.5em;
}
section.whatIsSection .content h2{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 60px;
}
section.whatIsSection .content p{
  margin-top: 5%;
  font-weight: bolder;
  font-size: 1.5em;
}
section.whatIsSection .triWrap{
  width: 44%;
  overflow: hidden;
  float: left;
}
section.whatIsSection .triWrap img{
  max-height: 1000px;
}
/* ------------------CODEPEN TIMELINE START-------------------------- */
.container {
   width: 90%;
   padding: 50px 0;
   margin-left: 32px;
   margin-top: 119px;
   position: relative;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 5%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1;
   display: none;
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   /* direction: rtl */
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999;
   display: none;
}

.timeline-content {
   width: 95%;
   /* padding: 0 15px; */
   color: #666;
   margin-left: 48px;
   margin-top: 10%;
}

.timeline-content h3 {
   margin-top: 40px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
   width: 94%;
}


/* ------------------CODEPEN TIMELINE END-------------------------- */

/* Loader Start */
#canvas{
  border: 2px solid white;
  width: 96%;
  height: 444px;
  border-radius: 25px;
}
.loadHelp{
  display: none;
}
/* Loader End */

@media screen and (max-width: 768px) {
  section.whatIsSection .content h1{
    margin-right: 16%;
  }
  section.triWrap img{
    display: none;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-backdrop-filter:blur(12px);
    backdrop-filter: blur(12px);
  }
  header section.navContainer{
    /* position: fixed; */
    float: left;
    /* background-color:transparent; */
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    height:80px;
  }
  header section.navContainer nav {
    width: 48%;
    /*text-align: center;*/
    padding: 2%;
    text-indent: 25px;
    text-align: right;
    float: right;
    margin-top: -8px;
    margin-right: 4%;
  }
  header section.navContainer a img{
    height: 100%;
  }
  header section.navContainer nav a li {
    display: inline-block;
    font-size: 20px;
    color: black;
    margin-top: 7%;
  }
  main{
    height: 136vh;
  }
  main h2{
    font-size: 87px;
    display: block;
    margin-left: 1%;
    margin-top: 44%;
  }
  main img{
    margin-top: 138%;
    transform: rotate(90deg);
    width: 264%;
    padding-bottom: 22%;
    margin-left: -78%;
  }
  #canvas{
    display: none;
  }
  .container{
    width: 100%;
    padding: 50px 0;
    margin-left: -22px;
    margin-top: 119px;
    position: relative;
    overflow: hidden;
  }
  iframe {
    width: 100%;
  }
  .container:before {
    left: 8px;
    width: 2px;
  }
  .whatIsSection{
    margin-top: 107%;
  }
  section.whatIsSection .content{
    margin-left: 14%;
    width: 80%;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
