body{
  margin: 0;
  font-family: hiragino sans;
}
footer {
  clear: both;
  /*border: 1px solid blue;*/
}
header, main, .whatIsSection, .timeLine, .ourVisionHer, .about-us, .services {
  float: left;
  width: 100%;
  /*border: 1px solid black;*/
}

/* ----------NAV BAR START-----------------*/
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(12px);
}
header section.navContainer{
  /* position: fixed; */
  float: left;
  background-color:transparent;
  background-image: linear-gradient(white);
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
}
/* header section.navContainer a h1{
  width: 1%;
  float: left;
  margin-left: 5%;
  margin-top: 27px;
  font-family: sans-serif;
  font-weight:bolder;
  color: black;
} */
header section.navContainer a img{
  height: 100px;
  margin-left: 2%;
  margin-top: .5%;
}
header section.navContainer nav {
  width: 70%;
  /*text-align: center;*/
  padding: 2%;
  text-indent: 25px;
  text-align: right;
  float: right;
  margin-top: 13px;
  margin-right: 1%;
}
header section.navContainer nav a{
  text-decoration: none;
}
header section.navContainer nav a li {
  display: inline-block;
  font-size: 20px;
  color: black;
  margin-right: 22px;
}
header section.navContainer nav a:nth-child(4){
  border: 3px solid black;
  border-radius: 20px;
  padding: 1%;
}
header section.navContainer nav a li:hover{
  color: #ff750f;
}
/* ----------NAV BAR END-----------------*/
main{
  overflow: hidden;
}
main h2{
  font-size: 300px;
  display: block;
  margin-left: 1%;
}
main img{
  /* width: 100%; */
  display: block;
  margin-top: 13%;
  padding-bottom: 20%;
  margin-left: 38%;
  height: 400px;
}
section.selfies{
  width: 100%;
}
section.selfies img{
  max-width: 20%;
}
section.whatIsSection .content{
  margin-left: 5%;
  width: 50%;
  float: left;
  line-height: 200%;
  margin-top: 12%;
}
section.whatIsSection .ourJourney{
  width: 100%;
  float: left;
}
section.whatIsSection .ourJourney img{
  height: 200px;
  margin: 0 auto;
  display: block;
}
section.whatIsSection .content h1{
  bottom: 0;
  margin: 0;
  width: 12%;
  float: left;
  margin-right: 4%;
  font-size: 1.5em;
}
section.whatIsSection .content h2{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 60px;
}
section.whatIsSection .content p{
  margin-top: 5%;
  font-weight: bolder;
  font-size: 1.5em;
}
section.whatIsSection .triWrap{
  width: 44%;
  overflow: hidden;
  float: left;
}
section.whatIsSection .triWrap img{
  max-height: 1000px;
}
section.whatIsSection .triWrap video{
  height: 386px;
  margin-left: -6%;
  margin-top: 17%;
}
/* ------------------ABOUT US CLIPS START-------------------------- */

section.about-us section.clipContainer{
  float: left;
  width: 25%;
  /* border: 2px solid red; */
  margin-top: 15%;
  margin-left: 6%;
  }
section.about-us section.clipContainer video{
  width: 100%;
  background-color:transparent;
}
section.about-us section.clipContainer h2{
  text-align: center;
  font-size: 2em;
}
/* ------------------ABOUT US CLIPS END-------------------------- */

/* ------------------SERVICES START-------------------------- */
section.services h4{
  width: 100%;
  text-align: center;
  margin-top: 20%;
  font-family: PaletaV2;
  font-size: 7em;
  margin-bottom: 1%;
}
section.services section.icon-grid{
  float: left;
  /* border: solid red; */
  /* height: 600px; */
  width: 54%;
  margin-top: 9%;
  margin-left: 4%;
}
section.services section.serviceInfo{
  float: left;
  /* border: solid red; */
  /* height: 600px; */
  width: 40%;
  margin-top: 4%;
  margin-left: -7%;
}
section.services section.icon-grid section.icon{
  float: left;
  width: 40%;
  border: 3px solid black;
  border-style: dashed;
  /* height: 200px; */
  margin: 5px;
}
section.services section.icon-grid section.icon img{
  /* width: 100%; */
  height: 200px;
  display: block;
  margin: 0 auto;
}
section.services section.icon-grid section.icon section.middle{
  width: 100%;
}
#middle{
  margin-left:22%;
}
section.services section.icon-grid section.icon h2{
    margin-top: 2%;
    text-align: center;
}

section.services section.serviceInfo h3{
  margin-top: 20%;
  width: 100%;
  font-size: 2.5em;
  margin-left: 10%;
}
section.services section.serviceInfo p{
  margin-left: 10%;
  width: 100%;
  font-size: 23px;
}
section.services section.serviceInfo button{
  margin-left: 10%;
  font-size: 2.5em;
  margin-top: 4%;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  border: 5px solid black;
}
section.services section.serviceInfo button:hover{
  border: 5px solid red;
  cursor: grab;
}
/* ------------------SERVICES END-------------------------- */

/* ------------------NEW 2023 TIMELINE START-------------------------- */
section.archive{
  float: left;
  width: 100%;
  margin-left: 0px;
  margin-top: 13%;
}
.archive .projectCard{
  float: left;
  width: 40%;
  /* border: 1px solid red;  */
  margin-left: 7%;
}
/* ------------------NEW 2023 TIMELINE END-------------------------- */

/* Loader Start */
#canvas{
  border: 2px solid white;
  width: 96%;
  height: 444px;
  border-radius: 25px;
}
.loadHelp{
  display: none;
}
/* Loader End */

@media screen and (max-width: 500px) {
  main img{
    margin-left: 13%;
    margin-top: 24%;
  }
  .whatIsSection .content{
    margin-left: 11%;
    width: 78%;
  }
  section.whatIsSection .content h1{
    font-size: 1.4em;
    margin-right: 11%;
    margin-top: 19px;
  }
  section.whatIsSection .content p{
    font-size: 1em;
  }
  section.whatIsSection .triWrap{
    width: 100%;
  }
  section.whatIsSection .triWrap video{
    margin-left: -19%;
    margin-top: 16%;
  }
  section.about-us section.clipContainer h2{
    font-size: 1.2em;
  }
  section.services h4{
    font-size: 4em;
    
  }
  section.whatIsSection .content h1{
    margin-right: 12%;
    margin-top: 23px;
  }
  section.whatIsSection .ourJourney img{

  }
  section.triWrap img{
    display: none;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-backdrop-filter:blur(12px);
    backdrop-filter: blur(12px);
  }
  header section.navContainer{
    /* position: fixed; */
    float: left;
    /* background-color:transparent; */
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    height:80px;
  }
  header section.navContainer nav {
    width: 44%;
    /*text-align: center;*/
    padding: 2%;
    text-indent: 25px;
    text-align: right;
    float: right;
    margin-top: -8px;
    margin-right: 4%;
  }
  header section.navContainer a img{
    height: 100%;
  }
  header section.navContainer nav a li {
    display: inline-block;
    font-size: 20px;
    color: black;
    margin-top: 7%;
  }
  main{
    height: 100vh;
  }
  main h2{
    font-size: 87px;
    display: block;
    margin-left: 1%;
    margin-top: 44%;
  }
  main img{
    /* margin-top: 138%;
    transform: rotate(90deg);
    width: 264%;
    padding-bottom: 22%;
    margin-left: -78%; */
  }
  #canvas{
    display: none;
  }
  .container{
    width: 100%;
    padding: 50px 0;
    margin-left: -22px;
    margin-top: 119px;
    position: relative;
    overflow: hidden;
  }
  iframe {
    width: 100%;
  }
  .container:before {
    left: 8px;
    width: 2px;
  }
  .whatIsSection{
    max-width: 100%;
  }
  section.whatIsSection .content{
    width: 100%;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
  section.services section.serviceInfo{
    width: 100%;
  }
  section.services section.icon-grid section.icon{
    width: 100%;
    margin-left: 35%;
   
  }
  #middle{
    margin-left:35%;
  }
  .archive .projectCard{
    width: 90%;
    margin-left: 2%;
    margin-top: 7%;
  }
}
